extends ./template/template
block vars
    -var dir_root = "./"
    -var current = "top"
    -var title = "クロノルミナ -ChronosLuminous-"
block js
    script(rel="text/javascript",src="./js/index.js")
block content
    #top
        h2.top__title
            span.maintitle ChronosLuminous
            span.subhead クロノルミナ - 創作物置き場
        .top__diary
            h2.top__diary__title お知らせ：<br class="sp">各ページもろもろ準備中です。
            .box
                .title
                    p.text 2016/11/23
                .contents
                    p.text インフォメーションページ内のプロフィールを更新。
            .box
                .title
                    p.text 2016/11/23
                .contents
                    p.text サイト仮公開。
                //-
                    .box
                        .title
                            p.text 2016/11/20
                        .contents
                            p.text 文字が入ります
                    .box
                        .title
                            p.text 2016/11/20
                        .contents
                            p.text 文字が入ります
                    .box
                        .title
                            p.text 2016/11/20
                        .contents
                            p.text 文字が入ります
                    .box
                        .title
                            p.text 2016/11/20
                        .contents
                            p.text 文字が入ります