extends ../template/template
block vars
   -var dir_root = "../"
   -var current = "diary"
   -var title = "雑記"
block content
   #diary
      h2.info__title
         span.maintitle 雑記
         span.subhead いろいろ
      .info__maincontents
