@charset "UTF-8";
#main {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	@include clearfix;
}
#contents {
	width: 760px;
	float: left;
	padding: 0 0 40px 40px;
}
#fc2_footer {
	background-color: #000000;
	height:50px;
	span{
		a{
			color: #ffffff;
		}
	}
}
#fc2_footer + img{
	display: none;
}