@charset "UTF-8";
#globalnav {
	width: 200px;
	float: left;
	@include font-reguler;
}
.globalnav__button{
	display: none;
}
.menu {
	list-style: none;
	line-height: 40px;
	&.current {
		&:hover {
			background-color: lightsteelblue;
		}
		background-color: lightsteelblue;
		.link {
			color: #ffffff;
		}
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	.link {
		display: block;
		text-decoration: none;
		color: #000;
	}
	.text {
		padding: 0 0 0 16px;
	}
}
.globalnav__grouptitle {
	line-height: 40px;
	padding: 10px 0 0 0;
}