.other__title {
	padding: 0 0 14px 0;
	font-family: "M+ Type-1 (general-j) Light";
	span {
		&.maintitle {
			display: block;
			font-size: 40px;
		}
		&.subhead {
			display: block;
			padding: 18px 0 0 10px;
		}
	}
}

.other__maincontents {
	margin: 40px;
	.text {
		font-size: 22px;
		span {
			&.en {
				font-family: "M+ P Type-1 (basic latin) Regular";
			}
			&.jp {
				font-family: "M+ Type-1 (general-j) Regular";
			}
		}
	}
	.lists {
		margin: 0 auto; //要素を中央寄せにするときのマージン（縦0横auto)
		width: 672px; //横幅
		overflow: auto; //リストにフロートを掛けた場合の対策（高さが無くなる）
		.list {
			list-style: none;
			float: left; //要素を左寄せ配置にする
			margin: 28px;
			border: solid #000 1px;
			font-size: 0;
			transition: opacity 0.5s ease; //オパシティを0.5秒かけてアニメーションさせるトランジション（ease=アニメーションの種類
			&:hover {
				opacity: 0.6; //要素にマウスを乗せた時の挙動=透明度60%;
			}
			.link {
				display: block;
			}
		}
	}
}
